synth{
    width:900px;
    height:650px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10vh;
    position:relative;
    display:block;
    padding:10px;

    background{
        margin-top:7px;
        margin-bottom:7px;
        z-index:1;
        position:fixed;
        height:640px;
        width:inherit;
    }

    background-img{
        margin-top:7px;
        margin-bottom:7px;
        z-index:2;
        position:fixed;
        height:640px;
        width:inherit;
        background-image: url('./images/bg.png');
        background-size: 100vw 900px;
        opacity:0.5;
    }

    wood-panel{
        z-index:3;
        position:absolute;
        width:50px;
        background-image: url('./images/wood.jpg');
        background-size: 600% 200%;
        height:inherit;
        box-shadow: 0px 0px 10px #101010;
        border-radius:2px;
    }
}
